@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>ForgotPassword</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VN Car Rental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Account"] != null)
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Đánh giá", "Index", "Comment")</li>
                        <li><span style="color:#d8d2d2; align-items:flex-end">@Html.ActionLink("Log Out", "LogOff", "Login")</span></li>
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Đánh giá", "Index", "Comment")</li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <div>

            <div>

                <div><p align="center" style="color:red;">FORGOT PASSWORD</p></div>
                <div>
                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "Formdn", name = "Formdn", onSubmit = "return CheckDangNhap();" }))
                    {
                        <div style="padding: 0px 0px 0px 440px;">
                            <div style=" width:100px; float:left; text-align: left;">Enter Email&nbsp;</div>
                            <input type="text" name="email" id="email" size="50" maxlength="100" />

                            <br />


                            <div style=" width:100px; float:left; text-align: left;">&nbsp;<br /></div>
                            <input type="submit" style="align-items:center; text-align: center" value="Send Mail" />
                        </div>
                          <div><p align="center" style="color:red;"><a href="">@ViewBag.Error1</a></p> </div>
                        <div><p align="center" style="color:red;"><a href="">@ViewBag.Error</a></p> </div>
                        <div><hr color="336699" size="1" /></div>
                        <div><p align="center" style="color:blue;"><a href="/Login/Login">Return Login</a></p> </div>

                    }

                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

</body>
</html>
