@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>ForgotPassword</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Login","DangNhap", "DangNhap")*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Dash Board", "Index", "DashBoard")</li>*@
                    @if (Session["Account"] != null)
                    {

                        <li>@Html.ActionLink("Dash Board", "Index", "DashBoard")</li>
                        <li>@Html.ActionLink("Car Brand", "Index", "CarBrands")</li>
                        <li>@Html.ActionLink("Car Model", "Index", "CarModels")</li>
                        <li>@Html.ActionLink("City", "Index", "Cities")</li>
                        <li>@Html.ActionLink("Review", "Index", "Reviews")</li>
                        <li>@Html.ActionLink("Request", "Index", "Requests")</li>
                        <li>@Html.ActionLink("User", "Index", "Users")</li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                        <li><span style="color:#d8d2d2; align-items:flex-end">@Html.ActionLink("Log Out", "LogOff", "DangNhap")</span></li>
                    }
                   

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
       
            <div>

                <div>

                    <div><p align="center" style="color:red;">FORGOT PASSWORD</p></div>
                    <div>
                        @using (Html.BeginForm("ForgotPassword", "DangNhap", FormMethod.Post, new { id = "Formdn", name = "Formdn", onSubmit = "return CheckDangNhap();" }))
                        {
                            <div style="padding: 0px 0px 0px 440px;">
                                <div style=" width:100px; float:left; text-align: left;">Enter Email&nbsp;</div>
                                <input type="text" name="email" id="email" size="50" maxlength="100" />

                                <br />
                                

                                <div style=" width:100px; float:left; text-align: left;">&nbsp;<br /></div>
                                <input type="submit" style="align-items:center; text-align: center" value="Send Mail" />
                            </div>
                            <div><p align="center" style="color:red;"><a href="">@ViewBag.Error</a></p> </div>
                            <div><hr color="336699" size="1" /></div>
                             <div><p align="center" style="color:blue;"><a href="/DangNhap/DangNhap">Return Login</a></p> </div>

                        }

                    </div>

                </div>
            </div>
        </div>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
    
</body>
</html>
